.status {
    width: 10px;
    height: 10px;
    border-radius: 40%;
    background: #c0392b;
    margin: 8px 10px 0 0;
    display: block;
    float: left;
    &.checked-in{
        background: #2ecc71;
    }
}